.App {
text-align: center;
  }
  .pTitle {
    font-family:fantasy;
    font-size:60px;
    padding-top: 30px;
  }

  .pQuestion{
    font-family:fantasy;
    font-size:30px;
  }
  
  .pAnimation{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .pAnimation:before,
  .pAnimation:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .pAnimation:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .pAnimation:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  
  }

  .input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: black;
    box-shadow: 1px 1px 3px #ffffff,
                -1px -1px 3px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    color: white;
    max-width: 200px;
   }
   
   .input:focus {
    outline-color: white;
   }

   .icon{
    background-color: black;
   }

   button {
    color: #090909;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 1px 1px 3px #ffffff,
                -1px -1px 3px #c5c5c5;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }